
/*
  Theme Name: Maker Blog
  Theme URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
  Author: Anand kishor verma
  Author URL: https://bootstrapmade.com
*/

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*  Blog-Post
/*-----------------------------------------------------------------------------------*/

body {
  background: #ffffff;
  color: #000000;
  font-family: 'sans-serif',Times New Roman;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 {
  color: #ffffff;
  font-weight: 600;
}

h2 {
  color: #71c55d;
  font-weight: 600;
  text-shadow: 0 0 5px #EFC050;
}

h4 {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  text-align: justify;
}

a {
  color: wheat;
     font-size: 20px;
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover, a:focus {
  color:paleturquoise;
  text-decoration: underline;
}


nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

p {
  margin: 25px 0;
  padding: 0;
  font-size: 15px;
  color: #000000;
  line-height: 28px;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

::selection {
  background: #b8a07e;
  color: #ffffff;
}

.btn {
  background: #333;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.padDiv {
  padding: 30px 20px;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-control {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 14px;
  text-transform: uppercase;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}

.paddsections {
  padding-top: 90px;
  padding-bottom: 90px !important;
}

.hvr-shutter-in-horizontal::before {
  background: #333;
}

.hvr-shutter-in-horizontal:hover {
  background: #ffffff;
}

.mb-30 {
  margin-bottom: 30px;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 40px);
  background: url(../img/hero-bg.png) center bottom no-repeat;
  background-size: 100%;
  position: relative;
  margin-top: 40px;
}

@media (min-width: 1025px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  font-family: "Philosopher", sans-serif;
  color: #555;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #777;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero img {
  max-width: 95%;
  margin-bottom: 30px;
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 11px 36px;
  border-radius: 50px;
  transition: 0.5s;
  margin-bottom: 30px;
  border: 2px solid #555;
  background: #fff;
  color: #555;;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  background: #71c55d;
  color: #fff;
}

#hero .btns a {
  color: #555;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 4px 20px;
  text-decoration: none;
  transition: 0.3s;
}

@media (max-width: 575px) {
  #hero .btns a {
    margin: 4px 8px;
  }
}

#hero .btns a:hover {
  color: #71c55d;
}
/* Blog Section
--------------------------------*/
@media (max-width: 991px) {
  #blog .block-blog {
    margin-bottom: 30px;
  }
}

#blog .block-blog img {
  width: 100%;
  
}

#blog .block-blog .content-blog {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  min-height: 125px;
  padding: 20px 10px;
  width: 100%;
}

#blog .block-blog .content-blog h4 {
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 16px;
}

#blog .block-blog .content-blog h4 a {
  color: #555;
  text-decoration: none;
  transition: 0.3s;
}

#blog .block-blog .content-blog h4 a:hover {
  color: #71c55d;
}

#blog .block-blog .content-blog > span {
  float: left;
  font-size: 12px;
}

#blog .block-blog .content-blog a.readmore {
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 0;
  text-transform: capitalize;
}

#blog .block-blog .content-blog a.readmore:hover {
  color: #71c55d;
}

/*-----------------------------------------------------------------------------------*/
/*  Navbar Top
/*-----------------------------------------------------------------------------------*/

nav {
  position: fixed;
  background: #555;
  z-index: 1000;
  width: 100%;
  padding: 20px;
  display: none;
  -webkit-box-shadow: 0px 2px 92px 0px pink;
  -moz-box-shadow: 0px 2px 92px 0px red;
  box-shadow: 0px 2px 92px 0px wheat;
}

.nav-menu {
  float: right;
  line-height: 32px;
  margin-bottom: 0;
  padding-top: 16px;
}

nav ul li {
  float: left;
  margin-right: 15px;
  font-family: 'sans-serif', Times New Roman;
  font-size: 14px;
  margin-left: 40px;
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 20px;
  color: wheat;
  font-family: 'serif', Times New Roman;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.logo {
  float:left;
  
}

.logo img {
  width: 250px;
  height: 60px;
}

.responsive {
  display: none;
  font-size: 23px;
}

    }
.active {
  color:#efc050;
}

/*----------------------------------------------------------------------------------*/
/*  Page Background header
/*-----------------------------------------------------------------------------------*/

header.masthead {
  position: relative;
  margin-bottom: 3rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
}

header.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:crimson;
  opacity: 0.0;
   } 
/*----------------------------------------------------------------------------------*/
/*  Header   
/*-----------------------------------------------------------------------------------*/


#header.header-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 420px;
  text-transform: uppercase;
  color: #fff;
}

.header-content p {
  font-size: 15px;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 60px;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 500;
}

.header-content .list-social li {
  float: left;
  margin-right: 30px;
}

.header-content .list-social li i {
  color:#ffffff ;
  font-size: 35px;
}

/*-----------------------------------------------------------------------------------*/
/*  Blog-post
/*-----------------------------------------------------------------------------------*/


div.post {
    
    color:#3B5998;
    margin:20px;
   background: url("../images/pat.png") repeat scroll center center / cover;
 
    padding:50px;
    border: 25px;
    margin: auto;
    border: 80px solid #ffffff ;
    
} 
#borderimg {
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url("../images/fb.jpg") 30 round; /* Safari 3.1-5 */
    -o-border-image: url("../images/fb.jpg")30 round; /* Opera 11-12.1 */
    border-image: url("../images/fb.jpg") 30 round;
} 

p {
    color: #3B5998;
    font-size: 20px;
    
    text-align: justify;
    font-family: "Times New Roman";
} 
h1 {
    color:#555;
    margin-left: 20px;
    
}

h2 {
    color: #3B5998;
    margin-left: 20px;
    text-align: center;
    
}

h3 {
    color:#3B5998;
    margin-left: 20px;
    background-color: lightblue;
    background-image: url("../img/blogimg/born2fly.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover
}

h4 {
    color: #3B5998;
    margin-left: 20px;
}

.section-heading {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 3.75rem;
}

.caption {
  font-size: 0.875rem;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 0.625rem;
  text-align: center;
}



/*-----------------------------------------------------------------------------------*/
/*  Blog-Thumnail-Card-Title 
/*-----------------------------------------------------------------------------------*/
div.blogmain {
    
    color:#3B5998;
    margin:20px;
   background: url("../images/pat.png") repeat scroll center center / cover;

    padding:50px;
    border: 25px black;
    
    margin: auto;
    border: 80px solid #ffffff;
    
} 
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
}
.card > .list-group:last-child {
  border-bottom-width: 0;
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}
.card-link + .card-link {
  margin-left: 1rem;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-group > .card {
  margin-bottom: 0.75rem;
}
@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }

.img-responsive {
  
  
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  height: 400px;
  object-fit: cover;
}



/*-----------------------------------------------------------------------------------*/
/*  About-me
/*-----------------------------------------------------------------------------------*/

#about {
  width: 100%;
  height: auto;
  
  padding-top: 190px;
   background: url("../images/bg10.png") repeat scroll center center / cover;
 
  
}

#about.div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
}

#about.div-img-bg.about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px #b8a07e;
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}


#about.about-descr.p-heading {
  font-family: 'serif';
  font-size: 100px;
  text-align: justify;
}


#about.about-descr.separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: justify;
}

/*-----------------------------------------------------------------------------------*/
/*  Makerfaire Workshop
/*-----------------------------------------------------------------------------------*/

#services {
  background: #3B5998;
  position: relative;
  padding-bottom: 80px;
}

.owl-item {
  float: left;
}
.services-block span {
  margin: 10px 0;
  position: relative;
  font-size: 13px;
  color:#ffffff;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}

.services-block .separator {
  margin: 0;
  font-size: 13px;
  color:#ffffff;
  line-height: 22px;
}

.services-block i {
  font-size: 44px;
  color:#ffffff;
  line-height: 44px;
}


.services-carousel  .owl-stage-outer {
  overflow: hidden;
}

.services-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.services-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  border: 0;
  padding: 0 !important;
  background-color: #efc050;
  cursor: pointer;
}

.services-carousel .owl-dot.active {
  background-color: #ffffff;
}

.owl-nav {
  display: none;
}



/*-----------------------------------------------------------------------------------*/

/*  -  Pagination
/*-----------------------------------------------------------------------------------*/

 
div.center {
    text-align: center;
}
h2 {
    color: forestgreen;
    margin-left: 20px;
    text-align: center;
    
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid pink;
    margin: 0 4px;
    
}

ul.pagination li a.active {
    background-color: darkgreen;
    color: white;
    border: 1px solid black;
}

ul.pagination li a:hover:not(.active) {background-color: lightgreen;}

video {
    width: 100%;
    height: auto;
}



/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

#footer {
  background:#555;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
  color:#efc050;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer p {
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}
#footer a {
  color: #ffffff;
    
}



